@import './../../../scss/colors';

:host{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: $header-bg;
    padding: 10px;
    z-index: 99;

    ul{
        display: flex;
        padding: 10px 0;
        list-style-type: none;
        column-gap: 20px;

        i{
            font-size:25px;
            padding: 10px 15px;
            border-radius: 10px;
            transition: .2s;

            &:hover{
                background-color: $header-elemets-sm-bg;
                color:$text-color-dark-selected;
            }
        }
    }
}