@import './../../../scss/colors';

:host{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow:hidden;
    background-color: white;

    #video_container{
        display: flex;
        position:relative;
        flex-direction: column;
        width: 100%;
        height: 90vh;

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            backdrop-filter: blur(5px);
        }

        #video_overlay{
            display: flex;
            flex-direction: column;
            position:absolute;
            width: 100%;
            height: 100%;
            color:white;
            backdrop-filter: blur(5px);

            .info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 25%;
                height: 90vh;
                padding: 15px 10px;
                margin-left: 50px;
                background-color: rgba(0, 0, 0, 0.5);

                h1{
                    font-size: 34px;
                    letter-spacing: 1px;
                    text-align: center;
                }

                .info_paragraphs{
                    margin-top: 40px;

                    p{
                        font-size: 20px;
                        &:first-child{
                            font-weight: bold;
                        }

                        &:last-child{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    #card_container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 80%;
        margin-top: 80px;
        column-gap: 30px;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border: 2px solid $button-bg-secondary;
            color: $button-bg-secondary;
            width: 100%;

            h2{
                margin-top: 10px;
            }
        }
    }

    .ish_info{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 60px;
        padding: 30px 0;

        p{
            margin-top: 20px;
            font-size: 20px;

            span{
                font-weight: bold;
            }
        }

        h1{
            color: $header-elemets-sm-bg
        }
    }
}