<div id="video_container">
    <video autoplay muted loop src="assets/videos/video_smh.mp4"></video>

    <div id="video_overlay">
        <div class="blurred_bg">
            <div class="info"></div>
                <h1>ITSAS SALBAMENDU<br> HUMANITARIOA</h1>
                <div class="info_paragraphs">
                    <p>Giza Eskubide Unibertsalen 13. artikulua</p>
                    <p>Pertsona orok du askatasunez mugitzeko eta estatu baten lurraldean bizilekua aukeratzeko eskubidea, eta pertsona orok du edozein herrialdetik irten, berea barne, eta itzultzeko eskubidea.</p>
                </div>
            </div>
     
        </div>
    </div>
