<div id="video_container">
    <video autoplay oncanplay="this.play()" muted onloadedmetadata="this.muted = true" loop playsinline src="assets/videos/video_smh.mp4"></video>

    <div id="video_overlay">
        <div class="blurred_bg">
            <div class="info">
                <h1>ITSAS SALBAMENDU HUMANITARIOA</h1>
                <div class="info_paragraphs">
                    <p>Giza Eskubide Unibertsalen 13. artikulua</p>
                    <p>Pertsona orok du askatasunez mugitzeko eta estatu baten lurraldean bizilekua aukeratzeko eskubidea, eta pertsona orok du edozein herrialdetik irten, berea barne, eta itzultzeko eskubidea.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ish_info">
    <h1 class="section_title">Nor Gara?</h1>
    <p><span>Itsas Salbamendu Humanitarioa (ISH)</span> irabazi asmorik gabeko erakunde bat da, Mediterraneo itsasoan erreskate eta laguntza humanitarioarekin konprometitua. Sortu ginenetik, bizitzak salbatzeko eta gatazka, pobrezia edo jazarpen egoeratik ihesi doazenei larrialdiko arreta medikoa emateko lan egin dugu. Gure eginkizuna zuzeneko laguntza emateaz gain, krisi humanitario hau ikusaraztea da, duintasuna eta giza eskubideen errespetua sustatuz. Bat egin gurekin eta izan guztiontzako itsaso seguruago eta gizatiarrago baten aldeko aldaketaren parte.</p>
</section>

<section id="card_container">
    <div class="card">
        <h1>{{ rescues }}</h1>
        <h2>Erreskateak egindako biaiak</h2>
    </div>
    <div class="card">
        <h1>{{ rescued_people }}</h1>
        <h2>Pertsona lagunduta</h2>
    </div>
    <div class="card">
        <h1>{{ workers }}</h1>
        <h2>Laguntzaileak</h2>
    </div>
</section>

<section class="ish_info">
    <h1 class="section_title">Itsas Salbamendu Humanitarioa</h1>
    <p>2015etik hona Mediterraneo eta Egeo itsasoetan bizi den Giza Eskubideen urraketaren egoerari erantzuten dion borondatezko pertsonaleko elkarte bat gara. Gizarte honetako elkartasun-katearen katebegi bat gara.</p>

    <p>Gure misioa argia da: migratzaileek desplazamendurako erabiltzen dituzten migrazio-ibilbideetan pertsonen bizitza, duintasuna eta eskubideak zaindu eta babestea; migrazio-politika europarraren parte izango diren bide seguru eta legalak defendatzea; gizarte zibilaren parte-hartzea eta kontzientziazioa bultzatzea Giza Eskubideen defentsan; eta gure lekuko garen Giza Eskubideen urraketa salatzea.</p>

    <p>Ahal baduzu, lagundu orain. Eskerrik asko!</p>
</section>