<div class="flex-cont">
    <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="logo">
    </a>
    
    <ul [class]="!isMenuOpened ? '' : 'opened'">
        <li>
            <a href="#" 
            routerLink="/nor-gara" 
            [class]="activeRoute == 'nor-gara' ? 'active' : ''">Nor gara</a>
        </li>
        <li>
            <a href="#" 
            routerLink="/ibilbidea"
            [class]="activeRoute == 'ibilbidea' ? 'active' : ''">Ibilbidea</a>
        </li>
        <li>
            <a href="#" 
            routerLink="/erreskatatuak"
            [class]="activeRoute == 'erreskatatuak' ? 'active' : ''">Erreskatatuak</a>
        </li>
    </ul>
</div>

<mat-icon id="menu" aria-hidden="false" aria-label="Example home icon" [fontIcon]="isMenuOpened ? 'close' : 'menu'" (click)="toggleIsMenuOpened()"></mat-icon>

<mat-icon id="user" aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
