<div class="flex-cont">
    <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="logo">
    </a>
    
    <ul [class]="!isMenuOpened ? '' : 'opened'">
        <li>
            <a href="#" 
            draggable="false"
            routerLink="/nor-gara" 
            [class]="activeRoute == 'nor-gara' ? 'active' : ''">Nor gara</a>
        </li>
        <li>
            <a href="#"
            draggable="false"
            routerLink="/ibilbidea"
            [class]="activeRoute == 'ibilbidea' ? 'active' : ''">Ibilbidea</a>
        </li>
        <li>
            <a href="#" 
            draggable="false"
            routerLink="/erreskatatuak"
            [class]="activeRoute == 'erreskatatuak' ? 'active' : ''">Erreskatatuak</a>
        </li>
    </ul>
</div>

<i 
id="menu" 
[class]="['bi', !isMenuOpened ? 'bi-list' : 'bi-x']" 
(click)="toggleIsMenuOpened()"></i>

<a  href="http://192.168.24.120/home" 
    draggable="true"
    class="text-decoration-none">
    <i 
        id="user" 
        class="bi bi-person-circle">
    </i>
</a>

