@import './../../../scss/colors';

:host {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: $header-bg;
    padding: 10px;

    .flex-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .logo {
            text-decoration: none;

            img {
                width: 150px;
            }
        }

        ul {
            display: flex;
            list-style-type: none;
            column-gap: 20px;
            margin-right: 20px;

            li {
                a {
                    color: $text-color-dark;
                    text-decoration: none;
                    padding: 10px;
                    border-radius: 10px;
                    transition: .2s;
                    font-size: 16px;

                    &:hover {
                        background-color: $header-elemets-sm-bg;
                    }
                }
            }
        }
    }

    #user {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 50px;
        height: 50px;
        font-size: 50px;
        color: white;
        cursor: pointer;
    }

    #menu {
        display: none;
        width: 50px;
        height: 50px;
        font-size: 50px;
        color: white;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    :host {
        .flex-cont ul {
            display: none; /* Se oculta por defecto */
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: $header-elemets-sm-bg;
            column-gap: 0;

            &.opened {
                display: flex; /* Solo se muestra cuando tiene la clase "opened" */
            }

            li {
                display: flex; /* Se asegura que los <li> se muestren solo cuando "opened" está activado */
                width: 100%;

                a {
                    width: 100%;
                    border-radius: 0;
                    padding: 15px 10px;

                    &:hover {
                        background-color: $header-bg; /* Cambio de fondo cuando se pasa el mouse */
                    }
                }
            }
        }

        #menu {
            display: flex;
            margin-right: 10px;
        }
    }
}
