<div>
    <div class="container">
        <ul class="timeline">
        <li
            *ngFor="let event of events; let i = index"
            class="event"
            [class.left]="i % 2 === 0"
            [class.right]="i % 2 !== 0"
            [attr.data-date]="event.date"
        >
            <h3 class="title">Abiapuntua: <span class="fw-normal">{{ event.origen }}</span></h3>
            <h3 class="title">Helmuga: <span class="fw-normal">{{ event.destino }}</span></h3>
            <p>{{ event.description }}</p>
        </li>
        </ul>
    </div>
</div>