<div *ngIf="!isAuthenticated" class="auth-container">
    <section id="password-protect">
      <h1>Sartu pasahitza</h1>
      <div *ngIf="showError" class="error-message">Pasahitza ez da zuzena! Saiatu berriro.</div>
      <form (ngSubmit)="validatePassword()">
        <input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          placeholder="Pasahitza" 
          required 
          class="password-input" 
        />
        <button type="submit" class="login-button">Bidali</button>
      </form>
    </section>
  </div>
  
  <div class="w-100 bg-white" *ngIf="isAuthenticated">
    
    <div class="d-flex">
      <div class="p-2">
        <button (click)="storeErrefuxiatua()" class="btn btn-success">Errefuxiatu berria</button>
      </div>
      <div class="ms-auto p-2">
        <button class="btn btn-danger" (click)="logout()">Itxi saioa</button> <!-- Botón para cerrar sesión -->
      </div>
    </div>
    
    <section id="filters">
      <form>
        <label for="search"><h1>Izena</h1></label>
        <input type="text" id="search" placeholder="Izenaren arabera bilatu" [(ngModel)]="filtroak.izena" [ngModelOptions]="{standalone: true}">        
        <div id="filters_container">
          <div class="filter">
            <label for="sexua"><h1>Sexua</h1></label>
            <select id="sexua" #sexua [(ngModel)]="filtroak.sexua" [ngModelOptions]="{standalone: true}">
              <option value="0">Sexu bat aukeratu</option>
              <option value="emakumea">Emakumea</option>
              <option value="gizona">Gizona</option>
              <option value="beste-bat">Beste bat</option>
            </select>
          </div>
      
          <div class="filter">
            <label for="adina"><h1>Adina</h1></label>
            <input id="adina" type="number" value="0" #adina [(ngModel)]="filtroak.adina" [ngModelOptions]="{standalone: true}">
          </div>
          
          <div class="filter">
            <label for="naziotasuna"><h1>Naziotasuna</h1></label>
            <select id="naziotasuna" #naziotasuna [(ngModel)]="filtroak.naziotasuna" [ngModelOptions]="{standalone: true}">
              <option value="0">Aukeratu naziotasun bat</option>
              <option value="senegal">Senegal</option>
              <option value="nigeria">Nigeria</option>
              <option value="maroko">Maroko</option>
              <option value="N/A">N/A</option>
            </select>
          </div>
        </div>
        <div id="button_container">
          <button type="reset" (click)="berrezarriFiltroak()">Berrezarri</button>    
        </div>
      </form>
    </section>
  
    <section class="card_container">
      <ng-container *ngFor="let errefuxiatua of errefuxiatuak | filterErrefuxiatuak: filtroak; trackBy: getId">
        <div class="position-relative card_content">
          <!-- datuak -->
          <app-errefuxiatua-card [datuak]="errefuxiatua"></app-errefuxiatua-card>
          <div class="cardButtons position-absolute p-2">
            <!-- Botón de editar -->
            <button  class="me-2 btn btn-primary" (click)="editErrefuxiatua(errefuxiatua)" data-bs-toggle="modal" data-bs-target="#errefuxiatuaModal">
              <i class="bi bi-vector-pen text-white"></i>
            </button>
            <!-- Botón de eliminar -->
            <button class="btn btn-danger" (click)="deleteErrefuxiatua(errefuxiatua)">
              <i class="bi bi-trash-fill text-white"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </section>
  </div>
 <!-- Modal -->
<div
class="modal fade"
id="errefuxiatuaModal"
tabindex="-1"
aria-labelledby="errefuxiatuaModalLabel"
aria-hidden="true"
data-bs-backdrop="static"
data-bs-keyboard="false"
>
<div class="modal-dialog">
  <div class="modal-content bg-transparent border-0">
    <button
      type="button"
      class="btn-close d-none"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
    <div class="modal-body p-0">
      <!-- Componente hijo -->
      <app-form-update-errefuxiatua
    [errefuxiatua]="selectedErrefuxiatua"
    (closeModal)="handleCloseModal($event)"
    (updateErrefuxiatuaInParent)="handleUpdateErrefuxiatua($event)">
    </app-form-update-errefuxiatua>
    </div>
  </div>
</div>
</div>