$header-bg: #0d1b2a;
$header-elemets-sm-bg: #1b263b;
$secondary-bg: #e0e1dd;
$text-color-dark-selected: white;
$text-color-dark: lightgray;
$button-bg-primary: #0d1b2a;
$button-bg-primary-hover: #1b263b;
$button-bg-secondary: #415a77;
$button-bg-secondary-hover: #778da9;